
.title {
    text-align: center;
    margin-top: 20px;
  }
  
  .cabinForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .formGroup {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .selectWrapper {
    position: relative;
    width: 100%;
  }
  

  
  .formError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    margin-left: 20px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
   
   